:root {
    --base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--base-font);
    display: flex;
}

h1 {
    font-size: 1.8rem;
    font-style: italic;
}

button {
    font-family: var(--base-font);
    font-size: 1rem;
}

.btn-icon {
    border: none;
    background-color: transparent;
}

.btn-icon:hover {
    cursor: pointer;
}

.btn-icon img {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    background-color: #fff;
    padding: 0 20px 15px 20px;
    border-radius: 10px;
    position: absolute;
    inset: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 3px 3px 5px grey;
    visibility: hidden;
    z-index: 2;
    height: fit-content;
}

form input, select, textarea {
    display: block;
    width: 100%;
    min-height: 30px;
    border: none;
    background-color: #ddd;
    margin-top: 4px;
    font-size: 1rem;
    font-family: inherit;
    padding: 3px 5px;
}

form input:focus,
form select:focus,
form textarea:focus {
    outline: none;
    border: 1px solid #555;
}

textarea {
    resize: none;
}

.form-btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 8px;
}

form button {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

form button:hover {
    cursor: pointer;
}

form button:not(.cancel) {
    background-color: #ccc;
}

form button:not(.cancel):hover {
    background-color: #999;
}

.cancel {
    background-color: #f22;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
}

.backdrop.show {
    opacity: 1;
}


/* ASIDE */
aside {
    background-color: #eee;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 30%;
    z-index: 1;
    transition: .2s ease-in;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.aside-head {
    display: flex;
    justify-content: space-between;
}

.close-aside {
    visibility: hidden;
}

.add-project {
    display: block;
    margin: 15px auto;
    padding: 7px 25px;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
}

.add-project:hover {
    text-decoration: underline;
    cursor: pointer;
}

aside h2 {
    margin-top: 20px;
    font-size: 1.2rem;
    padding-left: 25px;
}

ul {
    list-style-type: none;
}

.tablink {
    display: block;
    padding: 7px 8px;
    margin-bottom: 3px;
    width: 100%;
    text-align: start;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

.tablink:hover {
    background-color: #ccc;
    text-decoration: underline;
    cursor: pointer;
}

.tablink.first {
    border-left: 7px solid #2f2;
}

.tablink.second {
    border-left: 7px solid #ff0;
}

.tablink.third {
    border-left: 7px solid #f22;
}

.show {
    background-color: #ccc;
}


/* MAIN */
main {
    position: relative;
    width: 70%;
}

.hamburger {
    position: fixed;
    right: 5px;
    top: 5px;
    visibility: hidden;
}

.tab-content {
    min-height: 100vh;
    padding: 50px 25px;
    width: 100%;
}

.tab-content:not(#today){
    display: none;
}

.tab-content#today {
    display: block;
}

.special-contents .task-btns,
.special-contents input[type=checkbox] { 
    display: none;
}

/* SPECIAL SECTION */
.special-contents h3 {
    font-size: 1.5rem;
    color: #444;
}

.today-para,
.upcoming-para,
.important-para {
    padding: 30px;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

/* PROJECT TABS */
.project-head {
    border-bottom : 1px solid #ccc;
    padding-bottom: 5px;
}

.title-addtask-delete {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.project-head h3 {
    font-size: 1.55rem;
    margin-left: 0;
    margin-right: auto;
}

#myproject .btn-icon:not(.plus-task) {
    display: none;
}

.task {
    padding-top: 25px;
}

.task-head {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
}

.task-titled {
    font-size: 1.1rem;
    margin-top: -2px;
}

.task-titled.unchecked {
    color: #22f;
}

.task-titled.checked {
    color: #777;
    text-decoration: line-through;
}

.expand-icon {
    margin-right: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.expand-icon:hover {
    cursor: pointer;
}

.expand-icon img {
    width: 15px;
}

.task p, .task-btns {
    padding-top: 5px;
}

.priority {
    padding: 0px 5px;
    background-color: transparent;
    font-size: 0.85rem;
    border-radius: 5px;
}

.priority.Low {
    border: 3px solid #22f;
}

.priority.Medium {
    border: 3px solid #ffcc00
}

.priority.High {
    border: 3px solid #f22;
}

.task-btns {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.btn-in-main {
    padding: 3px 7px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
}

.btn-in-main:hover {
    cursor: pointer;
}

.edit {
    background-color: #ddd;
}

.edit:hover {
    background-color: #999;
}

.delete {
    background-color: #f33222;
}


/* JS styles */
.not-specified {
    font-style: italic;
}

.invisible {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}


@media screen and (max-width: 580px) {
    aside {
        position: absolute;
        width: 80%;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    }

    .close-aside {
        visibility: visible;
    }

    main {
        width: 100vw;
    }

    .hamburger {
        visibility: visible;
    }

    .hide {
        padding: 0;
        width: 0;
    }
}




