:root {
  --dark-turquoise: #009092;
  --light-turquoise: #00b9bc;
  --player1-color: #005254;
  --player2-color: #cc2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-turquoise);
  color: #ddd;
}

header {
  margin: 0 auto 30px;
}

header h1 {
  padding: 10px 40px;
  border-bottom: 1px solid #dd0;
}

/* MAIN */
main h2 {
  background-color: var(--light-turquoise);
  width: 260px;
  margin: 0 auto 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 260px;
  height: 260px;
  margin: auto;
  background-color: var(--light-turquoise);
}

.cell {
  width: 85px;
  height: 82px;
  line-height: 80px;
}

.bd-bottom {
  border-bottom: 2px solid #ff2;
}

.bd-right {
  border-right: 2px solid #ff2;
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 95%;
  margin: 30px auto 10px;
  background-color: #fff;
  text-align: start;
  position: relative;
  height: 52px;
}

.player {
  display: flex;
  align-items: center;
  background-color: light;
  width: 50%;
  height: 100%;
}

.player h3 {
  font-size: 1rem;
  color: #888;
}

.player p {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  outline: none;
}

.player p:focus {
  color: #ccc;
  border-bottom: 1px solid #ccc;
}

.player-mark {
  padding: 12px 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  width: 26%;
  text-align: center;
  height: 100%;
}

.player1 {
  border-right: 1px solid #333;
}

.player1 .player-mark {
  background-color: var(--player1-color);
}

.player-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 74%;
  padding: 0 5px;
}

.player1 .player-details {
  margin-left: 0;
  margin-right: auto;
}

.player2 .player-details {
  margin-right: 0;
  margin-left: auto;
}

.player2 .player-mark {
  background-color: var(--player2-color);
}

.player-scores {
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  margin-bottom: 10px;
  gap: 5px;
}

.restart {
  padding: 8px 20px;
  width: 100px;
  margin: auto;
}

footer {
  margin-top: 40px;
  font-size: 0.82rem;
}

/* JS STYLES */
.mark1 {
  font-size: 2rem;
  color: var(--player1-color);
  font-weight: bold;
}

.mark2 {
  font-size: 2rem;
  color: var(--player2-color);
  font-weight: bold;
}

.victory {
  color: #9cff00;
}

.overall-victory {
  font-size: 2rem;
  color: #9cff00;
  animation: scale-up 0.8s linear infinite;
}

.cell-victory {
  background-color: #9cff00;
  animation: animate 0.8s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(50%, 50%);
  }

  50% {
    transform: scale(120%, 120%);
  }

  100% {
    transform: scale(50%, 50%);
  }
}
